@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    
</div>

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Aplicación MVC</h1>
    <p>Esta es la página de inicio predeterminada generada por ASP.NET Core MVC.</p>
    <a href="@Url.Action("Login", "IniciarSesion")" class="btn btn-primary btn-lg">Inicio de Sesión</a>
</div>
